<div class="content" role="main" *ngIf="countyDetail$ | async as countyDetail">
  <header>    
    <h1>{{countyDetail.name}}&nbsp;<a [routerLink]="['/']"><i class="fas fa-sign-out-alt"></i></a></h1>
  </header>
  <h1>{countyDetail.infected_total, plural, =0 {<em>Kein</em> Fall} =1 {<em>Ein</em> Fall} other {<em>{{countyDetail.infected_total | number:'.0':'de-DE' }}</em> Fälle}}</h1>
  <p>bei einer Bevölkerung von <em>{{countyDetail.population | number:'.0':'de-DE' }}</em> </p>
  <div class="case-stats">
    <div class="case-stat-cell male">
      <i class="fas fa-mars"></i><em>{{countyDetail.male_percentage}}%</em>
    </div>
    <div class="case-stat-cell female">
      <i class="fas fa-venus"></i><em>{{countyDetail.female_percentage}}%</em>
    </div>
    <div class="case-stat-cell deaths">
      <i class="fas fa-cross"></i><em>{{countyDetail.deaths_total | number:'.0':'de-DE' }}</em>
    </div>
  </div>
  <div class="chart case-history">
    <h1>{countyDetail.new_cases, plural, =0 {<em>Kein</em> neuer Fall} =1 {<em>Ein</em> neuer Fall} other {<em>{{countyDetail.new_cases | number:'.0':'de-DE' }}</em> neue Fälle}} am {{countyDetail.latest_report_date }}</h1>
    <div class="chart-data">
      <casedata-history-chart [countyDetail]="countyDetail"></casedata-history-chart>       
    </div>        
  </div>
  <div class="chart case-history">
    <h1>Fälle nach Alter und Geschlecht</h1>
    <div class="chart-data">
      <casedata-age-distribution-chart [countyDetail]="countyDetail"></casedata-age-distribution-chart>             
    </div>
  </div>
</div>

