<div class="content" role="main" *ngIf="latest">
  <header>    
    <h1>{{county.gen}} ({{county.bez}})&nbsp;<a [routerLink]="['/']"><i class="fas fa-sign-out-alt"></i></a></h1>
  </header>
  <h1><em>{{latest.infected_total}}</em> Fälle</h1>
  <div class="case-stats">
    <div class="case-stat-cell male">
      <i class="fas fa-mars"></i><em>{{male_percentage}}%</em>
    </div>
    <div class="case-stat-cell female">
      <i class="fas fa-venus"></i><em>{{female_percentage}}%</em>
    </div>
    <div class="case-stat-cell deaths">
      <i class="fas fa-cross"></i><em>{{latest.deaths_total}}</em>
    </div>
  </div>
  <div class="chart case-history">
    <h1><em>{{new_case_count}}</em> neue Fälle am {{latest_date}}</h1>
    <div class="chart-data">
      Case History chart goes here
    </div>    
  </div>
  <div class="chart case-history">
    <h1>Infektionen nach Alter</h1>
    <div class="chart-data">
      Age Distribution chart goes here
    </div>
  </div>
</div>
