<div class="content" role="main">
  <header>
    <h1>Landkreis Emmendingen</h1>
  </header>
  <p class="summary"><span class="case-count">100</span> von deutschlandweit 16662</p>
  <div class="case-stats">
    <div class="case-stat-cell male">
      40%
    </div>
    <div class="case-stat-cell female">
      60%
    </div>
    <div class="case-stat-cell deaths">
      4
    </div>
  </div>
  <div class="case-history-chart">
    <p class="summary"><span class="case-count">9</span> neue Fälle am 20.03.2020</p>
    <div class="chart">
      Case History chart goes here
    </div>    
  </div>
  <div class="age-distribution-chart">
    <div class="chart">
      Age Distribution chart goes here
    </div>
  </div>
</div>

<router-outlet></router-outlet>