<h1>Übersicht</h1>
<h2>Baden-Württemberg</h2>
<!--
<p>
    <a class="county-label" [routerLink]="['germany', 'state', 'BW']">Ganzes Bundesland</a>    
</p>
-->
<p>
    <a class="county-label" [routerLink]="['germany', 'county', '08425']">Alb-Donau-Kreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08211']">Baden-Baden (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08426']">Biberach</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08115']">Böblingen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08435']">Bodenseekreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08315']">Breisgau-Hochschwarzwald</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08235']">Calw</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08316']">Emmendingen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08236']">Enzkreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08116']">Esslingen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08311']">Freiburg im Breisgau (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08237']">Freudenstadt</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08117']">Göppingen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08221']">Heidelberg (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08135']">Heidenheim</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08125']">Heilbronn</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08121']">Heilbronn (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08126']">Hohenlohekreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08215']">Karlsruhe</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08212']">Karlsruhe (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08335']">Konstanz</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08336']">Lörrach</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08118']">Ludwigsburg</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08128']">Main-Tauber-Kreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08222']">Mannheim (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08225']">Neckar-Odenwald-Kreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08317']">Ortenaukreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08136']">Ostalbkreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08231']">Pforzheim (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08216']">Rastatt</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08436']">Ravensburg</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08119']">Rems-Murr-Kreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08415']">Reutlingen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08226']">Rhein-Neckar-Kreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08325']">Rottweil</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08127']">Schwäbisch Hall</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08326']">Schwarzwald-Baar-Kreis</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08437']">Sigmaringen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08111']">Stuttgart (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08416']">Tübingen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08327']">Tuttlingen</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08421']">Ulm (Stadt)</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08337']">Waldshut</a>
    <a class="county-label" [routerLink]="['germany', 'county', '08417']">Zollernalbkreis</a>
</p>
<h2>Bayern</h2>
<a class="county-label" [routerLink]="['germany', 'county', '09771']">Aichach-Friedberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09171']">Altötting</a>
<a class="county-label" [routerLink]="['germany', 'county', '09361']">Amberg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09371']">Amberg-Sulzbach</a>
<a class="county-label" [routerLink]="['germany', 'county', '09561']">Ansbach (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09571']">Ansbach</a>
<a class="county-label" [routerLink]="['germany', 'county', '09661']">Aschaffenburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09671']">Aschaffenburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09761']">Augsburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09772']">Augsburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09672']">Bad Kissingen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09173']">Bad Tölz-Wolfratshausen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09461']">Bamberg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09471']">Bamberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09462']">Bayreuth (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09472']">Bayreuth</a>
<a class="county-label" [routerLink]="['germany', 'county', '09172']">Berchtesgadener Land</a>
<a class="county-label" [routerLink]="['germany', 'county', '09372']">Cham</a>
<a class="county-label" [routerLink]="['germany', 'county', '09463']">Coburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09473']">Coburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09174']">Dachau</a>
<a class="county-label" [routerLink]="['germany', 'county', '09271']">Deggendorf</a>
<a class="county-label" [routerLink]="['germany', 'county', '09773']">Dillingen a.d. Donau</a>
<a class="county-label" [routerLink]="['germany', 'county', '09279']">Dingolfing-Landau</a>
<a class="county-label" [routerLink]="['germany', 'county', '09779']">Donau-Ries</a>
<a class="county-label" [routerLink]="['germany', 'county', '09175']">Ebersberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09176']">Eichstätt</a>
<a class="county-label" [routerLink]="['germany', 'county', '09177']">Erding</a>
<a class="county-label" [routerLink]="['germany', 'county', '09562']">Erlangen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09572']">Erlangen-Höchstadt</a>
<a class="county-label" [routerLink]="['germany', 'county', '09474']">Forchheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '09178']">Freising</a>
<a class="county-label" [routerLink]="['germany', 'county', '09272']">Freyung-Grafenau</a>
<a class="county-label" [routerLink]="['germany', 'county', '09179']">Fürstenfeldbruck</a>
<a class="county-label" [routerLink]="['germany', 'county', '09563']">Fürth (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09573']">Fürth</a>
<a class="county-label" [routerLink]="['germany', 'county', '09180']">Garmisch-Partenkirchen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09774']">Günzburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09674']">Haßberge</a>
<a class="county-label" [routerLink]="['germany', 'county', '09464']">Hof (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09475']">Hof</a>
<a class="county-label" [routerLink]="['germany', 'county', '09161']">Ingolstadt (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09762']">Kaufbeuren (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09273']">Kelheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '09763']">Kempten (Allgäu) (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09675']">Kitzingen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09476']">Kronach</a>
<a class="county-label" [routerLink]="['germany', 'county', '09477']">Kulmbach</a>
<a class="county-label" [routerLink]="['germany', 'county', '09181']">Landsberg am Lech</a>
<a class="county-label" [routerLink]="['germany', 'county', '09261']">Landshut (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09274']">Landshut</a>
<a class="county-label" [routerLink]="['germany', 'county', '09478']">Lichtenfels</a>
<a class="county-label" [routerLink]="['germany', 'county', '09776']">Lindau (Bodensee)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09677']">Main-Spessart</a>
<a class="county-label" [routerLink]="['germany', 'county', '09764']">Memmingen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09182']">Miesbach</a>
<a class="county-label" [routerLink]="['germany', 'county', '09676']">Miltenberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09183']">Mühldorf a. Inn</a>
<a class="county-label" [routerLink]="['germany', 'county', '09162']">München (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09184']">München</a>
<a class="county-label" [routerLink]="['germany', 'county', '09775']">Neu-Ulm</a>
<a class="county-label" [routerLink]="['germany', 'county', '09185']">Neuburg-Schrobenhausen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09373']">Neumarkt i.d. OPf.</a>
<a class="county-label" [routerLink]="['germany', 'county', '09575']">Neustadt a.d. Aisch-Bad Windsheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '09374']">Neustadt a.d. Waldnaab</a>
<a class="county-label" [routerLink]="['germany', 'county', '09564']">Nürnberg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09574']">Nürnberger Land</a>
<a class="county-label" [routerLink]="['germany', 'county', '09780']">Oberallgäu</a>
<a class="county-label" [routerLink]="['germany', 'county', '09777']">Ostallgäu</a>
<a class="county-label" [routerLink]="['germany', 'county', '09262']">Passau (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09275']">Passau</a>
<a class="county-label" [routerLink]="['germany', 'county', '09186']">Pfaffenhofen a.d. Ilm</a>
<a class="county-label" [routerLink]="['germany', 'county', '09276']">Regen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09362']">Regensburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09375']">Regensburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09673']">Rhön-Grabfeld</a>
<a class="county-label" [routerLink]="['germany', 'county', '09163']">Rosenheim (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09187']">Rosenheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '09576']">Roth</a>
<a class="county-label" [routerLink]="['germany', 'county', '09277']">Rottal-Inn</a>
<a class="county-label" [routerLink]="['germany', 'county', '09565']">Schwabach (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09376']">Schwandorf</a>
<a class="county-label" [routerLink]="['germany', 'county', '09662']">Schweinfurt (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09678']">Schweinfurt</a>
<a class="county-label" [routerLink]="['germany', 'county', '09188']">Starnberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '09263']">Straubing (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09278']">Straubing-Bogen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09377']">Tirschenreuth</a>
<a class="county-label" [routerLink]="['germany', 'county', '09189']">Traunstein</a>
<a class="county-label" [routerLink]="['germany', 'county', '09778']">Unterallgäu</a>
<a class="county-label" [routerLink]="['germany', 'county', '09363']">Weiden i.d. OPf. (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09190']">Weilheim-Schongau</a>
<a class="county-label" [routerLink]="['germany', 'county', '09577']">Weißenburg-Gunzenhausen</a>
<a class="county-label" [routerLink]="['germany', 'county', '09479']">Wunsiedel i. Fichtelgebirge</a>
<a class="county-label" [routerLink]="['germany', 'county', '09663']">Würzburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '09679']">Würzburg</a>
<h2>Berlin</h2>
<a class="county-label" [routerLink]="['germany', 'county', '11004']">Charlottenburg-Wilmersdorf</a>
<a class="county-label" [routerLink]="['germany', 'county', '11002']">Friedrichshain-Kreuzberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '11011']">Lichtenberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '11010']">Marzahn-Hellersdorf</a>
<a class="county-label" [routerLink]="['germany', 'county', '11001']">Mitte</a>
<a class="county-label" [routerLink]="['germany', 'county', '11008']">Neukölln</a>
<a class="county-label" [routerLink]="['germany', 'county', '11003']">Pankow</a>
<a class="county-label" [routerLink]="['germany', 'county', '11012']">Reinickendorf</a>
<a class="county-label" [routerLink]="['germany', 'county', '11005']">Spandau</a>
<a class="county-label" [routerLink]="['germany', 'county', '11006']">Steglitz-Zehlendorf</a>
<a class="county-label" [routerLink]="['germany', 'county', '11007']">Tempelhof-Schöneberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '11009']">Treptow-Köpenick</a>
<h2>Brandenburg</h2>
<a class="county-label" [routerLink]="['germany', 'county', '12060']">Barnim</a>
<a class="county-label" [routerLink]="['germany', 'county', '12051']">Brandenburg an der Havel (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '12052']">Cottbus (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '12061']">Dahme-Spreewald</a>
<a class="county-label" [routerLink]="['germany', 'county', '12062']">Elbe-Elster</a>
<a class="county-label" [routerLink]="['germany', 'county', '12053']">Frankfurt (Oder) (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '12063']">Havelland</a>
<a class="county-label" [routerLink]="['germany', 'county', '12064']">Märkisch-Oderland</a>
<a class="county-label" [routerLink]="['germany', 'county', '12065']">Oberhavel</a>
<a class="county-label" [routerLink]="['germany', 'county', '12066']">Oberspreewald-Lausitz</a>
<a class="county-label" [routerLink]="['germany', 'county', '12067']">Oder-Spree</a>
<a class="county-label" [routerLink]="['germany', 'county', '12068']">Ostprignitz-Ruppin</a>
<a class="county-label" [routerLink]="['germany', 'county', '12054']">Potsdam (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '12069']">Potsdam-Mittelmark</a>
<a class="county-label" [routerLink]="['germany', 'county', '12070']">Prignitz</a>
<a class="county-label" [routerLink]="['germany', 'county', '12071']">Spree-Neiße</a>
<a class="county-label" [routerLink]="['germany', 'county', '12072']">Teltow-Fläming</a>
<a class="county-label" [routerLink]="['germany', 'county', '12073']">Uckermark</a>
<h2>Bremen</h2>
<a class="county-label" [routerLink]="['germany', 'county', '04011']">Bremen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '04012']">Bremerhaven (Stadt)</a>
<h2>Hamburg</h2>
<a class="county-label" [routerLink]="['germany', 'county', '02000']">Hamburg (Stadt)</a>
<h2>Hessen</h2>
<a class="county-label" [routerLink]="['germany', 'county', '06431']">Bergstraße</a>
<a class="county-label" [routerLink]="['germany', 'county', '06411']">Darmstadt (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '06432']">Darmstadt-Dieburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '06412']">Frankfurt am Main (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '06631']">Fulda</a>
<a class="county-label" [routerLink]="['germany', 'county', '06531']">Gießen</a>
<a class="county-label" [routerLink]="['germany', 'county', '06433']">Groß-Gerau</a>
<a class="county-label" [routerLink]="['germany', 'county', '06632']">Hersfeld-Rotenburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '06434']">Hochtaunuskreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06611']">Kassel (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '06633']">Kassel</a>
<a class="county-label" [routerLink]="['germany', 'county', '06532']">Lahn-Dill-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06533']">Limburg-Weilburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '06435']">Main-Kinzig-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06436']">Main-Taunus-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06534']">Marburg-Biedenkopf</a>
<a class="county-label" [routerLink]="['germany', 'county', '06437']">Odenwaldkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06438']">Offenbach</a>
<a class="county-label" [routerLink]="['germany', 'county', '06413']">Offenbach am Main (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '06439']">Rheingau-Taunus-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06634']">Schwalm-Eder-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06535']">Vogelsbergkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06635']">Waldeck-Frankenberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '06636']">Werra-Meißner-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06440']">Wetteraukreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '06414']">Wiesbaden (Stadt)</a>
<h2>Mecklenburg-Vorpommern</h2>
<a class="county-label" [routerLink]="['germany', 'county', '13076']">Ludwigslust-Parchim</a>
<a class="county-label" [routerLink]="['germany', 'county', '13071']">Mecklenburgische Seenplatte</a>
<a class="county-label" [routerLink]="['germany', 'county', '13074']">Nordwestmecklenburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '13003']">Rostock (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '13072']">Rostock</a>
<a class="county-label" [routerLink]="['germany', 'county', '13004']">Schwerin (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '13075']">Vorpommern-Greifswald</a>
<a class="county-label" [routerLink]="['germany', 'county', '13073']">Vorpommern-Rügen</a>
<h2>Niedersachsen</h2>
<a class="county-label" [routerLink]="['germany', 'county', '03451']">Ammerland</a>
<a class="county-label" [routerLink]="['germany', 'county', '03452']">Aurich</a>
<a class="county-label" [routerLink]="['germany', 'county', '03101']">Braunschweig (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03351']">Celle</a>
<a class="county-label" [routerLink]="['germany', 'county', '03453']">Cloppenburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '03352']">Cuxhaven</a>
<a class="county-label" [routerLink]="['germany', 'county', '03401']">Delmenhorst (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03251']">Diepholz</a>
<a class="county-label" [routerLink]="['germany', 'county', '03402']">Emden (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03454']">Emsland</a>
<a class="county-label" [routerLink]="['germany', 'county', '03455']">Friesland</a>
<a class="county-label" [routerLink]="['germany', 'county', '03151']">Gifhorn</a>
<a class="county-label" [routerLink]="['germany', 'county', '03153']">Goslar</a>
<a class="county-label" [routerLink]="['germany', 'county', '03159']">Göttingen</a>
<a class="county-label" [routerLink]="['germany', 'county', '03456']">Grafschaft Bentheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '03252']">Hameln-Pyrmont</a>
<a class="county-label" [routerLink]="['germany', 'county', '03241']">Hannover (Region)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03353']">Harburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '03358']">Heidekreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '03154']">Helmstedt</a>
<a class="county-label" [routerLink]="['germany', 'county', '03254']">Hildesheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '03255']">Holzminden</a>
<a class="county-label" [routerLink]="['germany', 'county', '03457']">Leer</a>
<a class="county-label" [routerLink]="['germany', 'county', '03354']">Lüchow-Dannenberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '03355']">Lüneburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '03256']">Nienburg (Weser)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03155']">Northeim</a>
<a class="county-label" [routerLink]="['germany', 'county', '03458']">Oldenburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '03403']">Oldenburg (Oldb) (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03404']">Osnabrück (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03459']">Osnabrück</a>
<a class="county-label" [routerLink]="['germany', 'county', '03356']">Osterholz</a>
<a class="county-label" [routerLink]="['germany', 'county', '03157']">Peine</a>
<a class="county-label" [routerLink]="['germany', 'county', '03357']">Rotenburg (Wümme)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03102']">Salzgitter (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03257']">Schaumburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '03359']">Stade</a>
<a class="county-label" [routerLink]="['germany', 'county', '03360']">Uelzen</a>
<a class="county-label" [routerLink]="['germany', 'county', '03460']">Vechta</a>
<a class="county-label" [routerLink]="['germany', 'county', '03361']">Verden</a>
<a class="county-label" [routerLink]="['germany', 'county', '03461']">Wesermarsch</a>
<a class="county-label" [routerLink]="['germany', 'county', '03405']">Wilhelmshaven (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '03462']">Wittmund</a>
<a class="county-label" [routerLink]="['germany', 'county', '03158']">Wolfenbüttel</a>
<a class="county-label" [routerLink]="['germany', 'county', '03103']">Wolfsburg (Stadt)</a>
<h2>Nordrhein-Westfalen</h2>
<a class="county-label" [routerLink]="['germany', 'county', '05334']">Aachen (Städteregion)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05711']">Bielefeld (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05911']">Bochum (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05314']">Bonn (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05554']">Borken</a>
<a class="county-label" [routerLink]="['germany', 'county', '05512']">Bottrop (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05558']">Coesfeld</a>
<a class="county-label" [routerLink]="['germany', 'county', '05913']">Dortmund (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05112']">Duisburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05358']">Düren</a>
<a class="county-label" [routerLink]="['germany', 'county', '05111']">Düsseldorf (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05954']">Ennepe-Ruhr-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '05113']">Essen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05366']">Euskirchen</a>
<a class="county-label" [routerLink]="['germany', 'county', '05513']">Gelsenkirchen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05754']">Gütersloh</a>
<a class="county-label" [routerLink]="['germany', 'county', '05914']">Hagen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05915']">Hamm (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05370']">Heinsberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '05758']">Herford</a>
<a class="county-label" [routerLink]="['germany', 'county', '05916']">Herne (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05958']">Hochsauerlandkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '05762']">Höxter</a>
<a class="county-label" [routerLink]="['germany', 'county', '05154']">Kleve</a>
<a class="county-label" [routerLink]="['germany', 'county', '05315']">Köln (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05114']">Krefeld (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05316']">Leverkusen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05766']">Lippe</a>
<a class="county-label" [routerLink]="['germany', 'county', '05962']">Märkischer Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '05158']">Mettmann</a>
<a class="county-label" [routerLink]="['germany', 'county', '05770']">Minden-Lübbecke</a>
<a class="county-label" [routerLink]="['germany', 'county', '05116']">Mönchengladbach (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05117']">Mülheim an der Ruhr (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05515']">Münster (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05374']">Oberbergischer Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '05119']">Oberhausen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05966']">Olpe</a>
<a class="county-label" [routerLink]="['germany', 'county', '05774']">Paderborn</a>
<a class="county-label" [routerLink]="['germany', 'county', '05562']">Recklinghausen</a>
<a class="county-label" [routerLink]="['germany', 'county', '05120']">Remscheid (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05362']">Rhein-Erft-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '05162']">Rhein-Kreis Neuss</a>
<a class="county-label" [routerLink]="['germany', 'county', '05382']">Rhein-Sieg-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '05378']">Rheinisch-Bergischer Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '05970']">Siegen-Wittgenstein</a>
<a class="county-label" [routerLink]="['germany', 'county', '05974']">Soest</a>
<a class="county-label" [routerLink]="['germany', 'county', '05122']">Solingen (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '05566']">Steinfurt</a>
<a class="county-label" [routerLink]="['germany', 'county', '05978']">Unna</a>
<a class="county-label" [routerLink]="['germany', 'county', '05166']">Viersen</a>
<a class="county-label" [routerLink]="['germany', 'county', '05570']">Warendorf</a>
<a class="county-label" [routerLink]="['germany', 'county', '05170']">Wesel</a>
<a class="county-label" [routerLink]="['germany', 'county', '05124']">Wuppertal (Stadt)</a>
<h2>Rheinland-Pfalz</h2>
<a class="county-label" [routerLink]="['germany', 'county', '07131']">Ahrweiler</a>
<a class="county-label" [routerLink]="['germany', 'county', '07132']">Altenkirchen (Westerwald)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07331']">Alzey-Worms</a>
<a class="county-label" [routerLink]="['germany', 'county', '07332']">Bad Dürkheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '07133']">Bad Kreuznach</a>
<a class="county-label" [routerLink]="['germany', 'county', '07231']">Bernkastel-Wittlich</a>
<a class="county-label" [routerLink]="['germany', 'county', '07134']">Birkenfeld</a>
<a class="county-label" [routerLink]="['germany', 'county', '07135']">Cochem-Zell</a>
<a class="county-label" [routerLink]="['germany', 'county', '07333']">Donnersbergkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '07232']">Eifelkreis Bitburg-Prüm</a>
<a class="county-label" [routerLink]="['germany', 'county', '07311']">Frankenthal (Pfalz) (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07334']">Germersheim</a>
<a class="county-label" [routerLink]="['germany', 'county', '07312']">Kaiserslautern (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07335']">Kaiserslautern</a>
<a class="county-label" [routerLink]="['germany', 'county', '07111']">Koblenz (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07336']">Kusel</a>
<a class="county-label" [routerLink]="['germany', 'county', '07313']">Landau in der Pfalz (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07314']">Ludwigshafen am Rhein (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07315']">Mainz (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07339']">Mainz-Bingen</a>
<a class="county-label" [routerLink]="['germany', 'county', '07137']">Mayen-Koblenz</a>
<a class="county-label" [routerLink]="['germany', 'county', '07316']">Neustadt an der Weinstraße (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07138']">Neuwied</a>
<a class="county-label" [routerLink]="['germany', 'county', '07317']">Pirmasens (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07140']">Rhein-Hunsrück-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '07141']">Rhein-Lahn-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '07338']">Rhein-Pfalz-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '07318']">Speyer (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07337']">Südliche Weinstraße</a>
<a class="county-label" [routerLink]="['germany', 'county', '07340']">Südwestpfalz</a>
<a class="county-label" [routerLink]="['germany', 'county', '07211']">Trier (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07235']">Trier-Saarburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '07233']">Vulkaneifel</a>
<a class="county-label" [routerLink]="['germany', 'county', '07143']">Westerwaldkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '07319']">Worms (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '07320']">Zweibrücken (Stadt)</a>
<h2>Saarland</h2>
<a class="county-label" [routerLink]="['germany', 'county', '10042']">Merzig-Wadern</a>
<a class="county-label" [routerLink]="['germany', 'county', '10043']">Neunkirchen</a>
<a class="county-label" [routerLink]="['germany', 'county', '10041']">Saarbrücken (Regionalverband)</a>
<a class="county-label" [routerLink]="['germany', 'county', '10044']">Saarlouis</a>
<a class="county-label" [routerLink]="['germany', 'county', '10045']">Saarpfalz-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '10046']">St. Wendel</a>
<h2>Sachsen</h2>
<a class="county-label" [routerLink]="['germany', 'county', '14625']">Bautzen</a>
<a class="county-label" [routerLink]="['germany', 'county', '14511']">Chemnitz (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '14612']">Dresden (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '14521']">Erzgebirgskreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '14626']">Görlitz</a>
<a class="county-label" [routerLink]="['germany', 'county', '14713']">Leipzig (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '14729']">Leipzig</a>
<a class="county-label" [routerLink]="['germany', 'county', '14627']">Meißen</a>
<a class="county-label" [routerLink]="['germany', 'county', '14522']">Mittelsachsen</a>
<a class="county-label" [routerLink]="['germany', 'county', '14730']">Nordsachsen</a>
<a class="county-label" [routerLink]="['germany', 'county', '14628']">Sächsische Schweiz-Osterzgebirge</a>
<a class="county-label" [routerLink]="['germany', 'county', '14523']">Vogtlandkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '14524']">Zwickau</a>
<h2>Sachsen-Anhalt</h2>
<a class="county-label" [routerLink]="['germany', 'county', '15081']">Altmarkkreis Salzwedel</a>
<a class="county-label" [routerLink]="['germany', 'county', '15082']">Anhalt-Bitterfeld</a>
<a class="county-label" [routerLink]="['germany', 'county', '15083']">Börde</a>
<a class="county-label" [routerLink]="['germany', 'county', '15084']">Burgenlandkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '15001']">Dessau-Roßlau (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '15002']">Halle (Saale) (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '15085']">Harz</a>
<a class="county-label" [routerLink]="['germany', 'county', '15086']">Jerichower Land</a>
<a class="county-label" [routerLink]="['germany', 'county', '15003']">Magdeburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '15087']">Mansfeld-Südharz</a>
<a class="county-label" [routerLink]="['germany', 'county', '15088']">Saalekreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '15089']">Salzlandkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '15090']">Stendal</a>
<a class="county-label" [routerLink]="['germany', 'county', '15091']">Wittenberg</a>
<h2>Schleswig-Holstein</h2>
<a class="county-label" [routerLink]="['germany', 'county', '01051']">Dithmarschen</a>
<a class="county-label" [routerLink]="['germany', 'county', '01001']">Flensburg (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '01053']">Herzogtum Lauenburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '01002']">Kiel (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '01003']">Lübeck (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '01004']">Neumünster (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '01054']">Nordfriesland</a>
<a class="county-label" [routerLink]="['germany', 'county', '01055']">Ostholstein</a>
<a class="county-label" [routerLink]="['germany', 'county', '01056']">Pinneberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '01057']">Plön</a>
<a class="county-label" [routerLink]="['germany', 'county', '01058']">Rendsburg-Eckernförde</a>
<a class="county-label" [routerLink]="['germany', 'county', '01059']">Schleswig-Flensburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '01060']">Segeberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '01061']">Steinburg</a>
<a class="county-label" [routerLink]="['germany', 'county', '01062']">Stormarn</a>
<h2>Thüringen</h2>
<a class="county-label" [routerLink]="['germany', 'county', '16077']">Altenburger Land</a>
<a class="county-label" [routerLink]="['germany', 'county', '16061']">Eichsfeld</a>
<a class="county-label" [routerLink]="['germany', 'county', '16056']">Eisenach (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '16051']">Erfurt (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '16052']">Gera (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '16067']">Gotha</a>
<a class="county-label" [routerLink]="['germany', 'county', '16076']">Greiz</a>
<a class="county-label" [routerLink]="['germany', 'county', '16069']">Hildburghausen</a>
<a class="county-label" [routerLink]="['germany', 'county', '16070']">Ilm-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '16053']">Jena (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '16065']">Kyffhäuserkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '16062']">Nordhausen</a>
<a class="county-label" [routerLink]="['germany', 'county', '16074']">Saale-Holzland-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '16075']">Saale-Orla-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '16073']">Saalfeld-Rudolstadt</a>
<a class="county-label" [routerLink]="['germany', 'county', '16066']">Schmalkalden-Meiningen</a>
<a class="county-label" [routerLink]="['germany', 'county', '16068']">Sömmerda</a>
<a class="county-label" [routerLink]="['germany', 'county', '16072']">Sonneberg</a>
<a class="county-label" [routerLink]="['germany', 'county', '16054']">Suhl (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '16064']">Unstrut-Hainich-Kreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '16063']">Wartburgkreis</a>
<a class="county-label" [routerLink]="['germany', 'county', '16055']">Weimar (Stadt)</a>
<a class="county-label" [routerLink]="['germany', 'county', '16071']">Weimarer Land</a>